body{ 
  background-color: #2F3E46;
  color: white;
}
input{
  background-color: #F13030;
  border: 0;
  color: white;
  padding: .5rem;
  margin-bottom: 1rem;
}input:focus {
  background-color: #F13030;
  border: 0;
  color: white;
  outline: 0;
}input::placeholder{
  color: rgba(255, 255, 255, 0.6);
}
button{
  border: 0;
  background-color: #F13030;
  color: white;
  padding: .5rem;
}
.flexy{
  display: flex;
  flex-direction: column;
}
a{
  color: #F13030;
  
}